<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-40(%d{HH:mm:ss.SSS} [%thread]) %cyan(%-8level) %-40logger{36} - %blue(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>com.mysql.cj.jdbc.Driver</driverClass>
            <url>jdbc:mysql://localhost:3309/mydatabase</url>
            <user>myuser</user>
            <password>secret</password>
        </connectionSource>
    </appender>

    <logger name="eu.michalszyba.usermanagement.service" level="INFO" additivity="false">
        <appender-ref ref="DB"/>
    </logger>

    <logger name="org.springframework.security" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
<!--    <logger name="org.hibernate" level="INFO" additivity="false">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

    <logger name="root" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>